/* TaskList.css */

.task-list-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.task-column {
    flex: 1;
}

.list-actividad {
    color: black;
}

.task-cards {
    gap: 10px;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.task-card {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-card h2 {
    font-size: 16px;
}

.task-card p {
    font-size: 14px;
}

#informacion-ol {
    width: 45%;
    height: 789px;
    background: #F1F5F9;
    border-radius: 3px;
    float: right;
    margin-left: 400px;
    margin-top: 160px;
    margin-bottom: 70px;
}

.icon {
    margin-right: 50px;
    cursor: pointer;
    /* Ajusta el valor según la separación que desees */
}

.pointer {
    cursor: pointer;
}

.completed-task {
    color: green;
  }
  
  .pending-task {
    color: red;

  }