.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .fa-question-circle {
  margin-left: 4px;
  color: #007BFF;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.card {
    background-color: #fff; /* Color de fondo de la tarjeta */
    border: 1px solid #ddd; /* Borde de la tarjeta */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    padding: 20px; /* Espacio interno de la tarjeta */
    margin: 20px; /* Margen alrededor de la tarjeta */
    width: 100%; /* Ancho al 100% para que ocupe el contenedor padre */
    max-width: 100%; /* Ancho máximo al 100% para que se ajuste al contenido */
  }
  
  /* Estilos para el título "Unidades de Retorno" */
  .card h1 {
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio después del título */
  }
  
  /* Estilos para el párrafo de descripción */
  .card p {
    font-size: 16px; /* Tamaño del texto de descripción */
    margin-bottom: 20px; /* Espacio después del párrafo */
  }
  
  /* Estilos para el botón "Agregar nueva unidad" */
  .nueva-unidad {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espacio dentro del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
  }
  
  /* Estilos para el botón "Cerrar" en los modales */
  .btn.btn-danger {
    background-color: #dc3545; /* Color de fondo del botón de cerrar */
    color: #fff; /* Color del texto del botón de cerrar */
    padding: 10px 20px; /* Espacio dentro del botón de cerrar */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
  }
  
  /* Estilos para la tabla */
  .scrollable-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .scrollable-table th, .scrollable-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  /* Estilos para los iconos de FontAwesome */
  .view-button, .edit-button {
    cursor: pointer;
    margin-right: 10px;
    color: #007bff;
  }
  
  /* Estilos para el icono de FontAwesome cuando está deshabilitado (usado para "Completado") */
  [disabled] {
    color: #ccc; /* Color de texto deshabilitado */
    cursor: not-allowed;
  }
  