body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 300px;
    flex-wrap: wrap;

}

.container-login {
    display: flex;
    width: 100%;


}



.image-container {

    width: 726px;
    height: 665px;
    flex-shrink: 0;

    background-image: url('./VortexLogin.png');
    background-size: cover;
    background-position: center left;

}


.login-container {
    background-color: white;
    padding: 16px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;

    margin: 10px; /* Ajusta este valor según sea necesario */

}

.login-container h2 {
    color: #525252;
    font-family: Nunito Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: 160px; 
    margin-right: 0px;
    white-space: nowrap;

    
}




.login-container labelForgotPassword {
    color: #0fbead;
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;

    margin-left: 50px; 
    margin-right: 0px;
    white-space: nowrap;
    margin-bottom: 2%;

}

.login-container labelUser {
    color: var(--Gray-3, #828282);
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    vertical-align: top;

    margin-bottom: 0%;

    margin-left: 50px; 
    margin-right: 0px;
    white-space: nowrap;
}
.login-container input[type="text"]{
    display: flex;
    width: 420px;
    padding: 13px 10px;
    align-items: center;
    gap: 1px;
    border-radius: 5px;
    border: 1px solid #DED2D9;

    margin-top: 0%;
    margin-bottom: 5%;

    margin-left: 50px; 
    margin-right: 0px;
    white-space: nowrap;
}

.login-container labelPassword {
    color: var(--Gray-3, #828282);
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: flex-start; 

    margin-bottom: 0%;

    margin-left: 50px; 
    margin-right: 0px;
    white-space: nowrap;

}
.login-container input[type="password"] {
    display: flex;
    width: 420px;
    padding: 13px 10px;
    align-items: center;
    gap: 1px;
    border-radius: 5px;
    border: 1px solid #DED2D9;

    margin-top: 0%;

    margin-left: 50px; 
    margin-right: 0px;
    white-space: nowrap;
    
}




.login-container button {
    background-color: #F27C38;
    color: white;
    width: 443px;
    padding: 13px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

    border-radius: 4px;
    color: var(--white-100, #FFF);

    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin-left: 50px; 
    margin-right: 0px;
    white-space: nowrap;

}
.login-container button:active {

    box-shadow: 0 0 5px #525252; /* Agregamos una pequeña sombra al presionar el botón */
    transform: translateY(3px); /* Mueve el botón ligeramente hacia abajo al presionar */
    transition: transform 0.2s, box-shadow 0.2s; /* Agregamos transiciones para una animación suave */
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}