.container {

    border: 1px solid #f1f1f1;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.foto-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente la imagen */
    margin-top: 20px;
    /* Ajusta el margen superior según tus necesidades */
}

#nombre-completo{
    text-align: center;
    
}

.info-title{
    color: #FF9141;
    
}



#foto-ol {
    max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
    border-radius: 50%; /* Hace que la imagen sea redonda */
  }
